version: '2'

services:
    zoo1:
        image: gsy36559067/zookeeper:0.2
        restart: always
        hostname: zoo1
        ports:
            - 12181:2181
        environment:
            ZOO_MY_ID: 1
            ZOO_SERVERS: server.1=zoo1:2888:3888 server.2=zoo2:2888:3888 server.3=zoo3:2888:3888

    zoo2:
        image: gsy36559067/zookeeper:0.2
        restart: always
        hostname: zoo2
        ports:
            - 12182:2181
        environment:
            ZOO_MY_ID: 2
            ZOO_SERVERS: server.1=zoo1:2888:3888 server.2=zoo2:2888:3888 server.3=zoo3:2888:3888

    zoo3:
        image: gsy36559067/zookeeper:0.2
        restart: always
        hostname: zoo3
        ports:
            - 12183:2181
        environment:
            ZOO_MY_ID: 3
            ZOO_SERVERS: server.1=zoo1:2888:3888 server.2=zoo2:2888:3888 server.3=zoo3:2888:3888
