master:
  image: redis:3
  ports:
    - "16379:6379"
slave:
  image: redis:3
  command: redis-server --slaveof redis-master 6379
#  ports:
#    - "3655:6379"
  links:
    - master:redis-master
sentinel:
  build: sentinel
  environment:
    - SENTINEL_DOWN_AFTER=5000
    - SENTINEL_FAILOVER=5000    
  links:
    - master:redis-master
    - slave
